{{ $imagename := .Get "src" }}
{{ $command   := .Get "command" | default "Resize"             }} {{/* Fit Resize Fill */}}
{{ $options   := .Get "options" | default  "400x"              }} {{/* 200x300 200x x200 */}}
{{ $caption   := .Get "caption" | default (.Get "src")         }}
{{ $class     := .Get "class"   | default "col-sm-12 col-md-6" }}  {{/* container-fluid */}}

{{/* Fill: smart Center TopLeft Top TopRight Left Right BottomLeft Bottom BottomRight */}}
{{/* Box, NearestNeighbor, Linear, Gaussian */}}
{{/* r90 */}}
{{/* jpeg: q50 q75 */}}

{{ $original := .Page.Resources.GetMatch (printf "%s*" $imagename) }}

  {{ if eq $command "Fit"}}
    {{ .Scratch.Set "image" ($original.Fit $options) }}
  {{ else if eq $command "Resize"}}
    {{ .Scratch.Set "image" ($original.Resize $options) }}
  {{ else if eq $command "Fill"}}
    {{ .Scratch.Set "image" ($original.Fill $options) }}
  {{ else }}
    {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
  {{ end }}
  {{ $image := .Scratch.Get "image" }}
    <div class="lightbox">
      <a href="{{ $original.RelPermalink }}" data-caption="{{ $caption | markdownify }}" >
	    <img src="{{ $image.RelPermalink }}" alt="{{$caption}}">
    </a>
    </div>
