{{- $css := site.Data.assets.css }}
{{- $cdn_url_reveal := "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0" }}
{{- $cdn_url_chart  := "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0" }}
{{- $reveal_base := "vendor/reveal/3.8.0" }}
{{- $chart_base  := "vendor/reveal/3.8.0/plugin/charts/2.8.0" }}
{{- .Scratch.Set "reveal_base" $reveal_base }}
{{- .Scratch.Set "chart_base"  $chart_base }}
{{- if (eq (len .Site.BaseURL) 0) }}
  {{- .Scratch.Set "reveal_base" $cdn_url_reveal }}
  {{- .Scratch.Set "chart_base"  $cdn_url_chart }}
{{- end -}}
<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"  content="IE=edge">
  <meta name="viewport"               content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="description"            content="{{.Site.Params.description }}, {{.Params.description}}">
  <meta name="author"                 content="{{.Site.Params.author}}">
  {{ hugo.Generator }}

  <link rel="icon" type="image/png" href="{{ "img/favicons/favicon-32x32.png" | relURL }}">

{{- if not (.Param "enableLocalFontawesome") }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
{{- else }}
<link href="{{ .Site.BaseURL }}/vendor/fontawesome/6.6.0/css/all.css" rel="stylesheet">
{{- end }}

  <title>{{ .Title }} | {{ site.Title }}</title>

  <link rel="stylesheet" href='{{ (print $reveal_base  "/css/reset.css")  | relURL }}' >
  <link rel="stylesheet" href='{{ (print $reveal_base  "/css/reveal.css") | relURL }}' >
{{/*
  <link rel="stylesheet" href='{{ (print $chart_base  "Chart.min.css") | relURL }}' >
*/}}

  {{- $theme := $.Param "slides.theme" | default "black" }}
  <link rel="stylesheet" href='{{ (print $reveal_base "/css/theme/" $theme ".css") | relURL }}' >

  {{- $assetBusting := not .Site.Params.disableCSSAssetsBusting }}
  {{- $chroma_style := $.Param "slides.chroma_style" | default .Site.Params.syntaxStyle }}
  <link rel="stylesheet" href='{{ (print "css/reveal/reveal.css")        | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}' >
  <link rel="stylesheet" href='{{ (print "css/reveal/reveal_custom.css") | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}' >
  {{- with $chroma_style}}
  <link rel="stylesheet" href='{{ (print "css/syntax/" $chroma_style ".css") | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}' >
  {{- else }}
  <link rel="stylesheet" href='{{ (print "css/syntax.css"                  ) | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}' >
  {{- end }}
  <link rel="stylesheet" href='{{ (print "css/reveal/reveal_theme_" $theme "_chroma.css") | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}' >
  {{- with $chroma_style}}
  <link rel="stylesheet" href='{{ (print "css/reveal/reveal_chroma_theme_" $chroma_style ".css") | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}' >
  {{- else }}
  <link rel="stylesheet" href='{{ (print "css/reveal/reveal_chroma_theme.css"                  ) | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}' >
  {{- end }}
  <style>{{ $.Param "css" | safeCSS }}</style>

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi )
                 ? {{ (print (.Scratch.Get "reveal_base") "/css/print/pdf.css"  ) | absURL }}
                 : {{ (print (.Scratch.Get "reveal_base") "/css/print/paper.css") | absURL }} ;
    document.getElementsByTagName( 'head' )[0].appendChild( link );
  </script>

</head>
<body>
  {{ block "main" . }}{{ end }}
  <script src='{{ (print $reveal_base "/js/reveal.js") | relURL }}'></script>
  <script>
    window.revealPlugins = { dependencies: [
      { src: {{ (print (.Scratch.Get "reveal_base") "/plugin/markdown/marked.js"     ) | absURL }}, condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: {{ (print (.Scratch.Get "reveal_base") "/plugin/markdown/markdown.js"   ) | absURL }}, condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{{- /*
      { src: {{ (print (.Scratch.Get "reveal_base") "/plugin/highlight/highlight.js" ) | absURL }}, async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
*/}}
      { src: {{ (print (.Scratch.Get "reveal_base") "/plugin/zoom-js/zoom.js"        ) | absURL }}, async: true },
      { src: {{ (print (.Scratch.Get "reveal_base") "/plugin/math/math.js"           ) | absURL }}, async: true },
{{- /*
      { src: {{ (print (.Scratch.Get "reveal_base") "/plugin/print-pdf/print-pdf.js" ) | absURL }}, async: true },
*/}}
      { src: {{ (print (.Scratch.Get "reveal_base") "/plugin/notes/notes.js"         ) | absURL }}, async: true },

{{- /*
      { src: {{ (print (.Scratch.Get "chart_base")  "/Chart.min.js"                  ) | absURL }}, async: true },
      { src: {{ (print (.Scratch.Get "chart_base")  "/csv2chart.js"                  ) | absURL }}, async: true },
*/}}

      { src: {{ (print (.Scratch.Get "chart_base")  "/Chart.min.js"                  ) | absURL }}, async: false },
      { src: {{ (print (.Scratch.Get "chart_base")  "/csv2chart.js"                  ) | absURL }}, async: false },
{{- /*
      { src: {{ (print (.Scratch.Get "reveal_base") "/plugin/charts/2.8.0/Chart.bundle.min.js"    ) | absURL }}, async: true },
*/}}
    ]};

    {{- $autoPlayMedia                    := $.Param "slides.autoPlayMedia"                  | default  nil                       }}
    {{- $autoSlide                        := $.Param "slides.autoSlide"                      | default  0                          }}
    {{- $autoSlideMethod                  := $.Param "slides.autoSlideMethod"                | default "Reveal.navigateNext"       }}
    {{- $autoSlideStoppable               := $.Param "slides.autoSlideStoppable"             | default  true                       }}
    {{- $backgroundTransition             := $.Param "slides.backgroundTransition"           | default  `fade`                     }}
    {{- $center                           := $.Param "slides.center"                         | default  true                       }}
    {{- $controls                         := $.Param "slides.controls"                       | default  true                       }}
    {{- $controlsBackArrows               := $.Param "slides.controlsBackArrows"             | default  `faded`                    }}
    {{- $controlsLayout                   := $.Param "slides.controlsLayout"                 | default  `bottom-right`             }}
    {{- $controlsTutorial                 := $.Param "slides.controlsTutorial"               | default  true                       }}
    {{- $defaultTiming                    := $.Param "slides.defaultTiming"                  | default  120                        }}
    {{- $display                          := $.Param "slides.display"                        | default  `block`                    }}
    {{- $embedded                         := $.Param "slides.embedded"                       | default  false                      }}
    {{- $fragmentInURL                    := $.Param "slides.fragmentInURL"                  | default  false                      }}
    {{- $fragments                        := $.Param "slides.fragments"                      | default  true                       }}
    {{- $hash                             := $.Param "slides.hash"                           | default  false                      }}
    {{- $help                             := $.Param "slides.help"                           | default  true                       }}
    {{- $hideAddressBar                   := $.Param "slides.hideAddressBar"                 | default  true                       }}
    {{- $hideCursorTime                   := $.Param "slides.hideCursorTime"                 | default  5000                       }}
    {{- $hideInactiveCursor               := $.Param "slides.hideInactiveCursor"             | default  true                       }}
    {{- $history                          := $.Param "slides.history"                        | default  false                      }}
    {{- $keyboard                         := $.Param "slides.keyboard"                       | default  true                       }}
    {{- $loop                             := $.Param "slides.loop"                           | default  false                      }}
    {{- $mouseWheel                       := $.Param "slides.mouseWheel"                     | default  false                      }}
    {{- $navigationMode                   := $.Param "slides.navigationMode"                 | default  `default`                  }}
    {{- $overview                         := $.Param "slides.overview"                       | default  true                       }}
    {{- $parallaxBackgroundHorizontal     := $.Param "slides.parallaxBackgroundHorizontal"   | default  nil                        }}
    {{- $parallaxBackgroundImage          := $.Param "slides.parallaxBackgroundImage"        | default  ``                         }}
    {{- $parallaxBackgroundSize           := $.Param "slides.parallaxBackgroundSize"         | default  ``                         }}
    {{- $parallaxBackgroundVertical       := $.Param "slides.parallaxBackgroundVertical"     | default  nil                        }}
    {{- $preloadIframes                   := $.Param "slides.preloadIframes"                 | default  nil                        }}
    {{- $previewLinks                     := $.Param "slides.previewLinks"                   | default  false                      }}
    {{- $progress                         := $.Param "slides.progress"                       | default  true                       }}
    {{- $rtl                              := $.Param "slides.rtl"                            | default  false                      }}
    {{- $showNotes                        := $.Param "slides.showNotes"                      | default  false                      }}
    {{- $shuffle                          := $.Param "slides.shuffle"                        | default  false                      }}
    {{- $slideNumber                      := $.Param "slides.slideNumber"                    | default  false                      }}
    {{- $touch                            := $.Param "slides.touch"                          | default  true                       }}
    {{- $transition                       := $.Param "slides.transition"                     | default  `slide`                    }}
    {{- $transitionSpeed                  := $.Param "slides.transitionSpeed"                | default  `default`                  }}
    {{- $viewDistance                     := $.Param "slides.viewDistance"                   | default  3                          }}

    {{- $width                            := $.Param "slides.width"                          | default  960                        }}
    {{- $height                           := $.Param "slides.height"                         | default  700                        }}
    {{- $margin                           := $.Param "slides.margin"                         | default  0.1                        }}
    {{- $minScale                         := $.Param "slides.minScale"                       | default  0.2                        }}
    {{- $maxScale                         := $.Param "slides.maxScale"                       | default  1.5                        }}

    {{- $mouseWheel  := $.Param "slides.mouseWheel"  | default true }}
    {{- $slideNumber := $.Param "slides.slideNumber" | default true }}
    {{- $hash        := $.Param "slides.hash"        | default true }}


    {{- $myParallaxImg  := split $parallaxBackgroundImage " " }}
    {{- $myMatch        := index $myParallaxImg 0 }}
    {{- $myOptions      := index $myParallaxImg 1 }}
    {{- $myCmd          := index $myParallaxImg 2 | default "Resize" }}

    {{- $mySiteResourcePage :=.Site.GetPage "resources/images" }}
    {{- $myResources := union .Page.Resources $mySiteResourcePage.Resources }}

    {{- $s := $.Scratch.Set `BackgroundImage` $parallaxBackgroundImage }}

    {{- if $myMatch }}
      {{- $myImage := ($myResources.ByType `image`).GetMatch (printf "**/%s*" $myMatch) }}
      {{- $s := $.Scratch.Set "image" $myImage }}
      {{- if $myImage }}
        {{- if $myOptions }}
          {{- if eq $myCmd `Fill`}}
            {{- with ($myImage.Fill $myOptions) }}
              {{- $s := $.Scratch.Set "image" . }}
            {{- end }}
          {{- else if eq $myCmd `Fit`}}
            {{- with ($myImage.Fit $myOptions) }}
              {{- $s := $.Scratch.Set "image" . }}
            {{- end }}
          {{- else if eq $myCmd `Resize`}}
            {{- with ($myImage.Resize $myOptions) }}
              {{- $s := $.Scratch.Set "image" . }}
            {{- end }}
          {{- else }}
          Illegal Command: {{$myCmd}} for {{$myMatch}}
          {{- end }}
        {{- end }}
      {{- end }}

      {{- $myImage := $.Scratch.Get "image" }}
      {{- with $myImage }}
        {{- $s := $.Scratch.Set `BackgroundImage` ($myImage.RelPermalink ) }}
      {{- end }}
    {{- end  }}
    {{- $parallaxBackgroundImage := ($.Scratch.Get `BackgroundImage`) }}

    let revealDefaults =
                         {
                           autoPlayMedia                    : {{$autoPlayMedia}},
                           autoSlide                        : {{$autoSlide}},
                           autoSlideMethod                  : {{$autoSlideMethod}},
                           autoSlideStoppable               : {{$autoSlideStoppable}},
                           backgroundTransition             : {{$backgroundTransition}},
                           center                           : {{$center}},
                           controls                         : {{$controls}},
                           controlsBackArrows               : {{$controlsBackArrows}},
                           controlsLayout                   : {{$controlsLayout}},
                           controlsTutorial                 : {{$controlsTutorial}},
                           defaultTiming                    : {{$defaultTiming}},
                           display                          : {{$display}},
                           embedded                         : {{$embedded}},
                           fragmentInURL                    : {{$fragmentInURL}},
                           fragments                        : {{$fragments}},
                           hash                             : {{$hash}},
                           help                             : {{$help}},
                           hideAddressBar                   : {{$hideAddressBar}},
                           hideCursorTime                   : {{$hideCursorTime}},
                           hideInactiveCursor               : {{$hideInactiveCursor}},
                           history                          : {{$history}},
                           keyboard                         : {{$keyboard}},
                           loop                             : {{$loop}},
                           mouseWheel                       : {{$mouseWheel}},
                           navigationMode                   : {{$navigationMode}},
                           overview                         : {{$overview}},
                           parallaxBackgroundHorizontal     : {{$parallaxBackgroundHorizontal}},
                           parallaxBackgroundImage          : {{$parallaxBackgroundImage}},
                           parallaxBackgroundSize           : {{$parallaxBackgroundSize}},
                           parallaxBackgroundVertical       : {{$parallaxBackgroundVertical}},
                           preloadIframes                   : {{$preloadIframes}},
                           previewLinks                     : {{$previewLinks}},
                           progress                         : {{$progress}},
                           rtl                              : {{$rtl}},
                           showNotes                        : {{$showNotes}},
                           shuffle                          : {{$shuffle}},
                           slideNumber                      : {{$slideNumber}},
                           touch                            : {{$touch}},
                           transition                       : {{$transition}},
                           transitionSpeed                  : {{$transitionSpeed}},
                           viewDistance                     : {{$viewDistance}},

                           width                            : {{$width}},
                           height                           : {{$height}},
                           margin                           : {{$margin}},
                           minScale                         : {{$minScale}},
                           maxScale                         : {{$maxScale}},
                         };

    let chartDefaults = {
      chart: {
        defaults: {
          global: {
            title: { fontColor: "#FFF" },
            legend: {
              labels: { fontColor: "#FFF" },
            },
          },
          scale: {
            scaleLabel: { fontColor: "#FFF" },
            gridLines: { color: "#FFF", zeroLineColor: "#FFF" },
            ticks: { fontColor: "#FFF" },
          }
        },
        line:     { borderColor:     [  "rgba(20,220,220,.8)" , "rgba(220,120,120,.8)", "rgba(20,120,220,.8)" ], "borderDash": [ [5,10], [0,0] ]},
        bar:      { backgroundColor: [  "rgba(20,220,220,.8)" , "rgba(220,120,120,.8)", "rgba(20,120,220,.8)" ]},
        radar:    { borderColor:     [  "rgba(20,220,220,.8)" , "rgba(220,120,120,.8)", "rgba(20,120,220,.8)" ]},
        pie:      { backgroundColor: [ ["rgba(0,0,0,.8)"      , "rgba(220,20,20,.8)"  , "rgba(20,220,20,.8)" , "rgba(220,220,20,.8)", "rgba(20,20,220,.8)"] ]},
        doughnut: { backgroundColor: [ ["rgba(0,0,0,.8)"      , "rgba(0,200,200,.2)"  , "rgba(200,100,0,.8)" , "rgba(220,20,20,.8)" , "rgba(20,220,20,.8)", "rgba(220,220,20,.8)", "rgba(20,20,220,.8)"] ]},
      }
    };

    let chartDefaultsEmpty = {
    }

    let revealOptions = Object.assign({}, revealDefaults, revealPlugins, chartDefaultsEmpty);
    Reveal.initialize(revealOptions);

  </script>

</body>
</html>

{{/*

  // Display presentation control arrows
  controls: true,

  // Help the user learn the controls by providing hints, for example by
  // bouncing the down arrow when they first encounter a vertical slide
  controlsTutorial: true,

  // Determines where controls appear, "edges" or "bottom-right"
  controlsLayout: 'bottom-right',

  // Visibility rule for backwards navigation arrows; "faded", "hidden"
  // or "visible"
  controlsBackArrows: 'faded',

  // Display a presentation progress bar
  progress: true,

  // Display the page number of the current slide
  slideNumber: false,

  // Add the current slide number to the URL hash so that reloading the
  // page/copying the URL will return you to the same slide
  hash: false,

  // Push each slide change to the browser history. Implies `hash: true`
  history: false,

  // Enable keyboard shortcuts for navigation
  keyboard: true,

  // Enable the slide overview mode
  overview: true,

  // Vertical centering of slides
  center: true,

  // Enables touch navigation on devices with touch input
  touch: true,

  // Loop the presentation
  loop: false,

  // Change the presentation direction to be RTL
  rtl: false,

  // See https://github.com/hakimel/reveal.js/#navigation-mode
  navigationMode: 'default',

  // Randomizes the order of slides each time the presentation loads
  shuffle: false,

  // Turns fragments on and off globally
  fragments: true,

  // Flags whether to include the current fragment in the URL,
  // so that reloading brings you to the same fragment position
  fragmentInURL: false,

  // Flags if the presentation is running in an embedded mode,
  // i.e. contained within a limited portion of the screen
  embedded: false,

  // Flags if we should show a help overlay when the questionmark
  // key is pressed
  help: true,

  // Flags if speaker notes should be visible to all viewers
  showNotes: false,

  // Global override for autoplaying embedded media (video/audio/iframe)
  // - null: Media will only autoplay if data-autoplay is present
  // - true: All media will autoplay, regardless of individual setting
  // - false: No media will autoplay, regardless of individual setting
  autoPlayMedia: null,

  // Global override for preloading lazy-loaded iframes
  // - null: Iframes with data-src AND data-preload will be loaded when within
  //   the viewDistance, iframes with only data-src will be loaded when visible
  // - true: All iframes with data-src will be loaded when within the viewDistance
  // - false: All iframes with data-src will be loaded only when visible
  preloadIframes: null,

  // Number of milliseconds between automatically proceeding to the
  // next slide, disabled when set to 0, this value can be overwritten
  // by using a data-autoslide attribute on your slides
  autoSlide: 0,

  // Stop auto-sliding after user input
  autoSlideStoppable: true,

  // Use this method for navigation when auto-sliding
  autoSlideMethod: Reveal.navigateNext,

  // Specify the average time in seconds that you think you will spend
  // presenting each slide. This is used to show a pacing timer in the
  // speaker view
  defaultTiming: 120,

  // Enable slide navigation via mouse wheel
  mouseWheel: false,

  // Hide cursor if inactive
  hideInactiveCursor: true,

  // Time before the cursor is hidden (in ms)
  hideCursorTime: 5000,

  // Hides the address bar on mobile devices
  hideAddressBar: true,

  // Opens links in an iframe preview overlay
  // Add `data-preview-link` and `data-preview-link="false"` to customise each link
  // individually
  previewLinks: false,

  // Transition style
  transition: 'slide', // none/fade/slide/convex/concave/zoom

  // Transition speed
  transitionSpeed: 'default', // default/fast/slow

  // Transition style for full page slide backgrounds
  backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom

  // Number of slides away from the current that are visible
  viewDistance: 3,

  // Parallax background image
  parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

  // Parallax background size
  parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

  // Number of pixels to move the parallax background per slide
  // - Calculated automatically unless specified
  // - Set to 0 to disable movement along an axis
  parallaxBackgroundHorizontal: null,
  parallaxBackgroundVertical: null,

  // The display mode that will be used to show slides
  display: 'block'



  // The "normal" size of the presentation, aspect ratio will be preserved
  // when the presentation is scaled to fit different resolutions. Can be
  // specified using percentage units.
  width: 960,
  height: 700,

  // Factor of the display size that should remain empty around the content
  margin: 0.1,

  // Bounds for smallest/largest possible scale to apply to content
  minScale: 0.2,
  maxScale: 1.5

*/}}
