{{- $layout := "col-lg-12" }}
{{- partial "header_page.html" (dict "currentNode" . "layout" $layout) }}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{- if .Param "debug"}}theme/layouts/doc/baseof.html{{end}}

    <h2>Slides</h2>
    <ul class="children children-li">
    {{- range .RegularPages }}
    <li>
     <a href="{{.Permalink}}" target="_blank" >{{.Title}}</a>
     <p>{{.Summary}}</p>
    </li>
    {{- end }}
    </ul>

    </div>
  </div>
</div>

{{- partial "footer.html" . }}
