{{ if .Param "debug"}}theme/layouts/post/archive.html{{end}}
<div class="post-preview">
  <p class="post-meta"><a href="{{ .Permalink }}">{{ .Title }}</a> on {{ dateFormat .Site.Params.DateForm .Date }}
    <br />
    {{- partial "categories.html" .}}
    {{- partial "tags.html" .}}
  </p>
</div>
