{{- $layout := "col-lg-10 offset-lg-1" }}
{{- partial "header_page.html" (dict "currentNode" . "layout" $layout) }}
<div class="container">
  <div class="row">
    <div class="{{ $layout }}">
        {{- if .Param "debug"}}theme/layouts/post/baseof.html{{end}}
        {{- block "main_body" . }}
        {{- end }}
    </div>
  </div>
</div>
{{- partial "footer.html" . }}
