{{- $layout := "col-lg-10 offset-lg-1" }}
{{- partial "header_page.html" (dict "currentNode" . "layout" $layout) }}
<div class="container">
  <div class="row">
    <div class="{{ $layout }}">
      <div class="post-page">
      {{- if .Param "debug"}}theme/layouts/post/list.html{{end}}
        {{ .Content }}
      {{- range .Paginator.Pages }}
        {{ .Render "summary" }}
        <hr>
      {{- end }}
      </div>
      {{- partial "pagination.html" . }}
    </div>
  </div>
</div>
{{- partial "footer.html" . }}
