{{- if .Param "debug"}}theme/layouts/post/summary.html{{end}}
<div class="post-preview">
  <a href="{{ .Permalink }}">
    <h2 class="post-title">{{ .Title }}</h2>
    <h3 class="post-subtitle">{{ .Description }}</h3>
  </a>
  <p class="post-meta">
    {{- partial "meta.html" .}}
  </p>
</div>
