<div class="card
   {{- if .IsNamedParams }}
     {{- with .Get "classes" }} {{.}}{{end}}
   {{- end }}"
   {{- if .IsNamedParams }}
     {{- with .Get "style" }} style="{{.|safeCSS}}"{{end}}
   {{- end }}>
   {{- if .IsNamedParams }}
   <div class="card-body">
     {{- with .Get "title" }}<h5  class="card-title"   >{{.}}</h5>{{else}}{{end}}
     {{- with .Get "subtitle" }}<h6  class="card-subtitle">{{.}}</h6>{{else}}{{end}}
     <p class="card-text">{{.Inner}}</p>
     {{- with .Get "link"}}<a href="{{$.Get `href`}}" class="card-link">{{.}}</a>{{else}}{{end}}
   </div>
   {{- else }}
  <div class="card-body">{{- .Inner -}}</div>
   {{- end }}
</div>
