{{ $myResMatch := .Get "src" }}
{{ $command    := .Get "command" | default "Resize"             }} {{/* Fit Resize Fill */}}
{{ $options    := .Get "options" | default  "400x"              }} {{/* 200x300 200x x200 */}}
{{ $caption    := .Get "caption" | default (.Get "src")         }}
{{ $class      := .Get "class"   | default "col-sm-12 col-md-6" }}  {{/* container-fluid */}}

{{/* Fill: smart Center TopLeft Top TopRight Left Right BottomLeft Bottom BottomRight */}}
{{/* Box, NearestNeighbor, Linear, Gaussian */}}
{{/* r90 */}}
{{/* jpeg: q50 q75 */}}

{{- $myResPage := .Page }}
{{- range $myResImage := ( ($myResPage.Resources.ByType `image`).Match (printf "%s*" $myResMatch)) }}

  {{ if eq $command "Fit"}}
    {{ $.Scratch.Set "image" ($myResImage.Fit $options) }}
  {{ else if eq $command "Resize"}}
    {{ $.Scratch.Set "image" ($myResImage.Resize $options) }}
  {{ else if eq $command "Fill"}}
    {{ $.Scratch.Set "image" ($myResImage.Fill $options) }}
  {{ else }}
    {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
  {{ end }}
  {{ $image := $.Scratch.Get "image" }}
  <div class="{{ $class}} ">
  <figure>
    <a class="lightbox" href="{{ $myResImage.RelPermalink }}" data-caption="{{ $caption | markdownify }}" >
	    <img class="img-fluid" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{$caption}}">
    </a>
    <figcaption>
      <p> {{- $caption | markdownify -}} </p>
    </figcaption>
 </figure>
</div>

{{- end }}
