/*
Inspired by https://github.com/liwenyip/hugo-easy-gallery/
*/


/*
Gallery
*/
.phsw-res-gallery {
  overflow: hidden;
  margin:   10px;
}

/*
Gallery Box
*/
.phsw-res-gallery-box {
  position: relative;
  float: left;
  padding-bottom: 0%;
  margin: 5px;
}

.phsw-res-gallery-box figure {
  margin: 0px;
}

/*
Transition styles
*/
.phsw-res-gallery.hover-transition            figure,
.phsw-res-gallery.hover-effect-zoom                 ,
.phsw-res-gallery:not(.caption-effect-appear) figcaption {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

/*
hover
*/
.phsw-res-gallery.hover-effect-grow      figure:hover      {transform: scale(1.05);      }
.phsw-res-gallery.hover-effect-shrink    figure:hover      {transform: scale(0.95);      }
.phsw-res-gallery.hover-effect-slidedown figure:hover      {transform: translateY(5px);  }
.phsw-res-gallery.hover-effect-slideup   figure:hover      {transform: translateY(-5px); }
.phsw-res-gallery.hover-effect-zoom      figure:hover      {transform: scale(1.05);      }

/*
image
*/
.phsw-res-gallery img {
  display: block;
  position: relative;
  z-index: 3;
  max-width:100%;
  height:auto;

  /* center image */
  margin: 0 auto;
  left: 0;
  right: 0;
}

/*
figcaption styles
*/
.phsw-res-gallery-figcaption {
  position: absolute;
  /* clip: rect(0px,80px,80px,0px); */
  z-index: 4;
  width: 100%;
  /*
  bottom: 0;
  left: 0;
  right: 0;
  */
  color: #FFF;
  text-align: center;
  font-size: 75%;
  background: rgba(90, 90, 90, 0.6);
  opacity: 1;
  cursor: pointer;
}

.phsw-res-gallery-figcaption a {
  color: #FFF;
}

.phsw-res-gallery.caption-position-none figcaption {
  visibility: hidden;
  bottom: 0;
  padding: 1px;
}

.phsw-res-gallery.caption-position-top figcaption {
  top: 0;
  padding: 1px;
}

.phsw-res-gallery.caption-position-center figcaption {
  top: 30%;
  padding: 1px;
}

.phsw-res-gallery.caption-position-bottom figcaption {
  bottom: 0;
  padding: 1px;
}

/*
caption-effect
*/
.phsw-res-gallery.caption-effect-fade   figure:not(:hover) figcaption,
.phsw-res-gallery.caption-effect-appear figure:not(:hover) figcaption {
  background: rgba(0, 0, 0, 0);
  opacity: 0;
}

.phsw-res-gallery.caption-effect-slide.caption-position-bottom figure:not(:hover) figcaption {visibility: hidden;}
.phsw-res-gallery.caption-effect-slide.caption-position-center figure:not(:hover) figcaption {visibility: hidden;top: 100%;}

figcaption p {
  /* margin: auto; */ /* override style in theme */
}
