{{- $layout := "col-lg-8 offset-lg-2 col-md-10 offset-md-1" }}
{{- partial "header_page.html" (dict "currentNode" . "layout" $layout) }}
<div class="container">
  <div class="row">
    <div class="{{ $layout }}">
      {{- if .Param "debug"}}theme/layouts/_default/list.html{{end}}
      {{- range .Paginator.Pages }}
        {{ .Render "archive" }}
      {{- end }}
      {{- partial "pagination.html" . }}
    </div>
  </div>
</div>

{{- partial "footer.html" . }}
