{{- $layout := .layout }}
{{- with .currentNode}}
<div class="container">
  <div class="row">
    <div class="d-flex flex-row ">
      <div class="p-1">
        {{- template "nextprev" dict "navigation" .Site.Home "currentnode" . }}
        {{- if not $.Site.Params.disableNavChevron -}}
          {{- with (.Scratch.Get "prevPage") }}
          {{- $myURL := .RelPermalink }}
          <a id="btnNavPrev" class="btn btn-sm btn-outline-secondary" href="{{$myURL}}{{if (findRE `/\z` $myURL) }}index.html{{end}}"><i class="fas fa-chevron-left fa-2x "></i></a>
          {{- end }}

          {{- with (.Scratch.Get "nextPage") }}
          {{- $myURL := .RelPermalink }}
          <a id="btnNavNext" class="btn btn-sm btn-outline-secondary" href="{{$myURL}}{{if (findRE `/\z` $myURL) }}index.html{{end}}"><i class="fas fa-chevron-right fa-2x "></i></a>
          {{- end }}
        {{- end }}
      </div>

      <div class="flex-grow-1-disabled">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {{- template "breadcrumb" dict "page" . "value" (printf "<li class='breadcrumb-item active' aria-current='page'>%s</li>" .Title) }}
          </ol>
        </nav>
      </div>

    </div>
  </div>
</div>
{{- end }}


{{- define "breadcrumb"}}
  {{- if .page.Parent }}
    {{- $myURL := .page.Parent.RelPermalink }}
    {{- $value := (printf "<li class='breadcrumb-item'><a href='%s%s'>%s</a></li>%s" $myURL (cond (eq (slicestr $myURL (sub (len $myURL) 1 )) "/")  ("index.html") ("") ) .page.Parent.Title .value )}}
  {{- template "breadcrumb" dict "page" .page.Parent "value" $value }}
  {{- else }}
    {{ .value | safeHTML }}
  {{- end }}
{{- end }}

{{- define "nextprev" -}}
{{- $currentNode := .currentnode -}}
  {{- $currentNodeURL := $currentNode.RelPermalink }}
 {{- if ne .navigation.Params.hidden true -}}
   {{- if hasPrefix $currentNodeURL .navigation.RelPermalink -}}
     {{- $currentNode.Scratch.Set "NextPageOK" "OK" -}}
     {{- $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") -}}
   {{- else -}}
     {{- if eq ($currentNode.Scratch.Get "NextPageOK") "OK" -}}
       {{- $currentNode.Scratch.Set "NextPageOK" nil -}}
       {{- $currentNode.Scratch.Set "nextPage" .navigation -}}
     {{- end -}}
   {{- end -}}
   {{- $currentNode.Scratch.Set "prevPageTmp" .navigation -}}
   {{- $currentNode.Scratch.Set "pages" .navigation.RegularPages -}}
   {{- if .navigation.IsHome -}}
     {{- $currentNode.Scratch.Set "pages" .navigation.Sections -}}
   {{- else if .navigation.Sections -}}
     {{- $currentNode.Scratch.Set "pages" (.navigation.RegularPages | union .navigation.Sections) -}}
   {{- end -}}

   {{- $pages := ($currentNode.Scratch.Get "pages") -}}

   {{- range where $pages.ByWeight ".Type" "!=" "resources" -}}
     {{/* {{.Name}} {{.IsPage}} {{.Kind}} {{.Type}} </br> */}}
     {{- if in "doc" .Type  }}
       {{- template "nextprev" dict "navigation" . "currentnode" $currentNode -}}
     {{- end -}}
   {{- end -}}

 {{- end -}}
{{- end -}}
