
<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline text-center">
          {{- if .Site.Params.enableFooterEmail }}
            {{- with .Site.Params.email }}
              <li class="list-inline-item social">
                <a href="mailto:{{ . }}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {{- end }}
          {{- end }}
          {{- if .Site.Params.enableFooterSocial }}
            {{- range .Site.Params.social }}
            <li class="list-inline-item social">
              <a href="{{ .url }}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="{{ .faIcon }} fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {{- end }}
          {{- end }}
        </ul>
        <p class="copyright text-muted">
        <span class="">
        {{- with  .Site.Copyright }}
          {{ . | markdownify }}
        {{- end }}
        {{- with  .Site.Params.infoCopyright }}
          {{ . | markdownify }}
        {{- end }}
        </span>
        {{- with  .Site.Params.infoGenerator }}
        <span class="small">
          {{- replaceRE `\[Hugo\]` (printf `[Hugo %s]` hugo.Version) . | markdownify }}
        </span>
        {{- end }}
        {{- with  .Site.Params.infoVersion }}
        <span class="small">
          {{- /* replaceRE `#now#` (dateFormat "02 Jan 06 15:04 MST"  now.Unix) . | safeHTML */}}
          {{- replaceRE `#now#` (dateFormat "20060102"  now.Unix) . | safeHTML }}
        </span>
        {{- end }}
        {{- with  .Site.Params.infoAuthor }}
        <span class="">
          {{ . | markdownify }}
        </span>
        {{- end }}
        </p>
      </div>
    </div>
  </div>
</footer>


{{- /* lib, tools, ... */}}
<script src="{{ .Site.BaseURL }}/vendor/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/vendor/popper/1.14.3/popper.min.js"></script>
<script src="{{ .Site.BaseURL }}/vendor/bootstrap/5.1.3/js/bootstrap.min.js"></script>

{{- /* Custom user's JavaScript */}}
{{- $assetBusting := not .Site.Params.disableJSAssetsBusting }}
<script src="{{ .Site.BaseURL }}/js/theme.js{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
{{- if .Param "enableHammer" }}
<script src="{{ .Site.BaseURL }}/vendor/hammer/hammer.min.js{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script src="{{ .Site.BaseURL }}/js/hammer.swipe.js{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
{{- end }}
{{ range .Site.Params.custom_js -}}
  {{- with .}}
    <script src="{{ . | absURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
  {{- end }}
{{- end }}


{{- template "_internal/google_analytics.html" . }}

</body>
</html>
