{{- partial "head.html" . }}
<body>
{{ partial `body.load.photoswipe.html` . -}}
  <header class="hero overlay">
  {{- partial "navbar.html" . }}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br>
      </div>
    </div>
  </div>
  </header>
  {{- if .Param "debug"}}theme/layouts/partials/header_def.html{{end}}

{{- if or (in .Site.Params.breadcrumbPageTypes .Page.Type) (.Page.Params.breadcrumb ) }}
<div class="breadcrumb">
  <div class="container">
    {{- template "breadcrumb" dict "page" . "value" .Title }}
  </div>
</div>
{{- end }}
