{{- partial "head.html" . }}
<body>
{{ partial `body.load.photoswipe.html` . -}}
  <header class="hero overlay">
{{- partial "navbar.html" . }}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-header">
          <div class="page-heading">
            <h1>{{ .Title }}</h1>
            <hr class="small">
            <span class="subheading">{{ .Description }}</span>
          </div>
          </div>
      </div>
    </div>
  </div>
  </header>
  {{- if .Param "debug"}}theme/layouts/partials/header_page_info.html{{end}}
