<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"  content="IE=edge">
<meta name="viewport"               content="width=device-width, initial-scale=1">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description"            content="{{.Site.Params.description }}, {{.Params.description}}">
{{ if (.Param "author") }}<meta name="author"                 content="{{.Site.Params.author}}">{{ end }}
{{ if (.Param "robots") }}<meta name="robots"                 content="{{.Site.Params.robots}}">{{ end }}
{{ hugo.Generator }}

<title>{{ .Title }} -- {{ .Site.Title }}</title>
{{ with .OutputFormats.Get "RSS" }}
  {{ .RelPermalink }}
{{ end }}
{{/*
{{- if .RSSLink }}
  {{- partial `head.rss.html` . -}}
{{- end }}
*/}}

{{- $assetBusting := not .Site.Params.disableCSSAssetsBusting }}
<link href="{{ .Site.BaseURL }}/vendor/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">  {{/* Bootstrap Core CSS */}}
<link href="{{ .Site.BaseURL }}/css/mathjax-style.css{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="stylesheet">                         {{/* Latex */}}
<link href="{{ .Site.BaseURL }}{{- with .Site.Params.syntaxStyle}}/css/syntax/{{.}}.css{{else}}/css/syntax.css{{end}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="stylesheet"> {{/* Highlight */}}
<link href="{{ .Site.BaseURL }}/css/theme.css{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="stylesheet">                                 {{/* Theme CSS */}}
<link href="{{ .Site.BaseURL }}/css/gallery-grid.css{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="stylesheet">                          {{/* baguetteBox gallery */}}
{{- range .Site.Params.custom_css }}
<link href="{{ $.Site.BaseURL }}/{{ . }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="stylesheet">{{/* Custom */}}
{{- end }}

{{- if not (.Param "enableLocalFontawesome") }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
{{- else }}
<link href="{{ .Site.BaseURL }}/vendor/fontawesome/6.6.0/css/all.css{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="stylesheet">
{{- end }}

{{- /* Custom Fonts */}}
{{- if .Param "enableGoogleApiFonts" }}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet'  type='text/css'>
{{- else }}
{{- end }}


{{- if .Param "enableMathjax" }}
  {{- partial "mathjax_support.html" . }}
{{- end }}

{{ partial `head.favicon.html`         . -}}
{{ partial `head.load.photoswipe.html` . -}}

</head>
