{{- if isset $.Site.Params (lower `photoswipe` ) }}
{{- if $.Site.Params.photoswipe.loadInHeader  }}
<script src="{{ .Site.BaseURL }}/vendor/jquery/3.7.1/jquery.min.js"></script>
<script src='{{ .Site.BaseURL }}/js/phsw-res-gallery-load-photoswipe.js'></script>
<link rel="stylesheet" href='{{ relURL `/vendor/photoswipe/photoswipe.css`                   }}' >
<link rel="stylesheet" href='{{ relURL `/vendor/photoswipe/default-skin/default-skin.css`    }}' >
<script src='{{ .Site.BaseURL }}/vendor/photoswipe/photoswipe.min.js'>      </script>
<script src='{{ .Site.BaseURL }}/vendor/photoswipe/photoswipe-ui-theme.js'> </script>

<link rel="stylesheet" href='{{ relURL `/css/phsw-pres-gallery.css`                   }}' >

{{- end }} {{/* $.Site.Params.photoswipe.loadInHeader  */}}
{{- end }} {{/* isset  */}}
