  <div id="toucharea" class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-primary">
        {{- range .Site.Params.logos }}
          {{- if .url }}
          <a class="navbar-brand" href="{{ .url }}" target="_blank" rel="noopener"><img src="{{ .Site.BaseURL }}/{{ .img }}" class="d-inline-block align-top" alt="{{.img}}"></a>
          {{- else }}
          <a class="navbar-brand" href="{{ .Site.BaseURL }}" target="_blank" rel="noopener"> <img class="navbar-brand" src="{{ .Site.BaseURL }}/{{ .img }}" class="d-inline-block align-top" alt="{{.img}}"></a>
          {{- end }}
        {{- end }}
      <a class="navbar-brand" href="{{ .Site.BaseURL }}/">{{ .Site.Title }}</a>


      {{- if .Site.Menus.main }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          {{- $currentPage := . }}
          {{- range $.Site.Menus.main }}
          {{ $myURL := .URL }}
               <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}"> <a class="nav-link" href="{{ $myURL | absURL }}">{{ .Name }}</a></li>
          {{/* <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}"> <a class="nav-link" href="{{ $myURL | absURL }}">{{ .Name }}</a></li> */}}
          {{/* <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}"> <a class="nav-link" href="{{ $.Site.BaseURL }}{{ $myURL }}">{{ .Name }}</a></li> */}}
          {{/* <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}"> <a class="nav-link" href="{{ $myURL }}{{if (findRE `/\z` $myURL) }}index.html{{end}}">{{ .Name }}</a></li>  */}}
          {{/* <li class="nav-item {{if ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}"> <a class="nav-link" href="{{ $myURL }}">{{ .Name }}</a></li> */}}
          {{- end}}
          {{- if .Site.Params.enableNavBarSocial }}
            {{- range .Site.Params.social }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .url }}" target="_blank" rel="noopener">
              <i class='{{.faIcon}} fa-1x'></i>
            </a>
          </li>
            {{- end}}
          {{- end}}
        </ul>
      </div>
      {{- end }}

    </nav>
  </div>
