<div class="container next-prev">
  <nav>
    <ul class="pagination pagination-sm justify-content-end">

{{- if not $.Site.Params.disableNavChevron -}}
  {{- with ($.Scratch.Get "prevPage") }}
    {{ $myURL := .RelPermalink }}
      <li class="page-item ">
        <a href="{{$myURL}}{{if (findRE `/\z` $myURL) }}index.html{{end}}" class="page-link"><i class="fas fa-chevron-left fa-2x "></i></a>
      </li>
  {{ end -}}

  {{- with ($.Scratch.Get "nextPage") }}
    {{ $myURL := .RelPermalink }}
      <li class="page-item ">
        <a href="{{$myURL}}{{if (findRE `/\z` $myURL) }}index.html{{end}}" class="page-link"><i class="fas fa-chevron-right fa-2x "></i></a>
      </li>
  {{- end }}
{{- end }}

    </ul>
  </nav>
</div>
