{{- $currentNode := . }}
{{- range .Site.Home.Sections.ByWeight }}
{{- /* {{- range .Site.Home.Sections}} */}}
{{- if or (in .Site.Params.sidebarPageTypes .Type) (.Params.sidebar) }}
  <ul class="doctree">
    {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode}}
  </ul>
  {{- end }}
{{- end }}

{{- define "section-tree-nav" }}
{{- $currentNode := .currentnode }}
{{- with .sect}}
  {{- if .IsSection }}
    {{ $myURL := .RelPermalink }}
    <li class="dd-item
    {{- if .IsAncestor $currentNode}} parent{{end}}
    {{- if eq $myURL $currentNode.RelPermalink}} active{{end}}">
    {{- $numberOfPages := (add (len .RegularPages) (len .Sections)) }}
    {{- if ne $numberOfPages 0 }}
      {{- if .IsAncestor $currentNode }}
      <i class="far fa-minus-square li-item-icon"></i>
      {{- else -}}
      <i class="far fa-plus-square li-item-icon"></i>
      {{- end}}
    {{- end}} {{/* if ne $numberOfPages 0 */}}
      <a href="{{ .RelPermalink }}{{if (findRE `/\z` .RelPermalink) }}index.html{{end}}"><span>{{.Title}}</span> </a>
    {{- if ne $numberOfPages 0 }}
      <ul>
        {{- $currentNode.Scratch.Set "pages" .RegularPages }}
        {{- if .Sections}}
          {{- $currentNode.Scratch.Set "pages" (.RegularPages | union .Sections) }}
        {{- end}}
        {{- $pages := ($currentNode.Scratch.Get "pages") }}
        {{- range $pages.ByWeight }}
        {{- /* {{- range $pages }} */}}
          {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
        {{- end}}
      </ul>
      {{- end}}
    </li>

  {{- else}} {{/* IsSection */}}
    {{ $myURL := .RelPermalink }}
    <li class="dd-item {{- if eq $myURL $currentNode.RelPermalink}} active{{end -}}">
      <a href="{{ .RelPermalink }}{{if (findRE `/\z` .RelPermalink) }}index.html{{end}}"><span>{{.Title}}</span> </a>
    </li>
  {{- end}}
{{- end}} {{/* with */}}
{{- end}} {{/* define */}}
