Tags {{ range $index, $tag :=  .Params.tags }}
  {{- if eq $index 0 -}}
    <a href="/tags/{{ urlize . }}">{{ lower . }}</a>
  {{- else -}}
    , <a href="/tags/{{ urlize . }}">{{ lower . }}</a>
  {{- end -}}
{{- end }}
