.highlight pre {
  display:          block;
  line-height:      1.1em;
  word-wrap:        break-word;
  overflow:         auto;
  max-height:       none;
  border-radius:    6px;
  border:           2px solid;
  padding:          10px 6px 10px 6px;
}
