{{- /*
<!--
Inspired by https://github.com/liwenyip/hugo-easy-gallery/
-->
<!-- prevent this shortcode from being loaded more than once per page -->
*/}}
{{- if not ($.Page.Scratch.Get `photoswipeloaded`) }}
{{- $.Page.Scratch.Set `photoswipeloaded` 1 }}
{{- /*
<!--
*** jQuery must be loaded before load-photoswipe.js ***
-->
*/}}
<script src='{{ .Site.BaseURL }}/vendor/jquery/jquery-3.6.1.slim.min.js'></script>   {{- /* <!-- used by heg --> */}}
<script src='{{ .Site.BaseURL }}/js/res-gallery-load-photoswipe.js'></script>
{{- /*<!-- Photoswipe css/js libraries -->*/}}
<link rel="stylesheet" href='{{ relURL `/vendor/photoswipe/photoswipe.css`                   }}' />
<link rel="stylesheet" href='{{ relURL `/vendor/photoswipe/default-skin/default-skin.css`    }}' />
<script src='{{ .Site.BaseURL }}/vendor/photoswipe/photoswipe.min.js'>      </script>
<script src='{{ .Site.BaseURL }}/vendor/photoswipe/photoswipe-ui-theme.js'> </script>

{{- /*<!-- Root element of PhotoSwipe. Must have class pswp. -->*/}}
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
{{- /*
<!-- Background of PhotoSwipe.
     It's a separate element, as animating opacity is faster than rgba(). -->
*/}}
<div class="pswp__bg"></div>
{{- /*<!-- Slides wrapper with overflow:hidden. -->*/}}
<div class="pswp__scroll-wrap">
{{- /*
    <!-- Container that holds slides.
      PhotoSwipe keeps only 3 of them in DOM to save memory.
      Don't modify these 3 pswp__item elements, data is added later on. -->
*/}}
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    {{- /*<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->*/}}
    <div class="pswp__ui pswp__ui--hidden">
    <div class="pswp__top-bar">
      {{- /*<!--  Controls are self-explanatory. Order can be changed. -->*/}}
      <div class="pswp__counter"></div>
      <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
      <button class="pswp__button pswp__button--share" title="Share"></button>
      <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
      <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
{{- /*
      <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
      <!-- element will get class pswp__preloader--active when preloader is running -->
*/}}
      <div class="pswp__preloader">
        <div class="pswp__preloader__icn">
          <div class="pswp__preloader__cut">
            <div class="pswp__preloader__donut"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
      <div class="pswp__share-tooltip"></div>
    </div>
    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
    </button>
    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
    </button>
    <div class="pswp__caption">
      <div class="pswp__caption__center"></div>
    </div>
    </div>
    </div>
</div>
{{ end }}
