{{- $.Scratch.Set `theHref`    `#`                       }}
{{- $.Scratch.Set `theIcon`    ``                        }}
{{- $.Scratch.Set `theClasses` `btn btn-primary btn-sm ` }}
{{- if .IsNamedParams }}
  {{- $.Scratch.Set `theHref`    (.Get `href`    | default ($.Scratch.Get `theHref`)    )}}
  {{- $.Scratch.Set `theIcon`    (.Get `icon`    | default ($.Scratch.Get `theIcon`)    )}}
  {{- $.Scratch.Set `theClasses` (.Get `classes` | default ($.Scratch.Get `theClasses`) ) }}
{{- else}}
  {{- $myPos := 0}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set `theHref`    (.Get $myPos) }} {{end}}
  {{- $myPos := 1}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set `theIcon`    (.Get $myPos) }} {{end}}
  {{- $myPos := 2}} {{ if gt (len .Params) $myPos }} {{$.Scratch.Set `theClasses` (.Get $myPos) }} {{end}}
{{- end}}
<a class='{{$.Scratch.Get `theClasses`}}'
   role="button"
   target="_blank"
   href='{{$.Scratch.Get `theHref` | relURL }}'
>{{- if $.Scratch.Get `theIcon`}}<i class='{{$.Scratch.Get `theIcon`}}'></i>{{end}}{{ .Inner }}</a>
