{{- $title := .Get "title" -}}
{{- $id := .Get "id" -}}

<p>
<a class="btn btn-light" data-bs-toggle="collapse" href="#{{ $id }}" role="button" aria-expanded="false" aria-controls="{{ $id }}">
{{ $title }}
</a>
<div class="collapse" id="{{ $id }}">
  <div class="card card-body">
    {{- /* {{markdownify .Inner}} */}}
    {{.Inner}}
  </div>
</div>
</p>
