{{- $header   := .Get `header`   | default ``}}
{{- $source   := .Get `source`   | default ``}}
{{- $oClasses := .Get `oClasses` | default `alert-success`}}
{{- $iClasses := .Get `iClasses` | default ``}}    {{/* e.g. blockquote */}}
{{- $oMargin  := .Get `oMargin`  | default `mb-3`}}
{{- $iMargin  := .Get `iMargin`  | default `mb-0`}}

<div class="card {{$oClasses}} {{$oMargin}} ">
  {{- with $header }} <div class="card-header quote-header">{{$header}}</div>{{end}}
  <div class="card-body quote-marker">
 <i class='fas fa-quote-right fa-2x'></i>
    <blockquote class="quote-body {{$iClasses}} {{$iMargin}}">
      <p>{{ markdownify .Inner}}
      {{- with $source }}<footer class="blockquote-footer quote-footer"><cite>{{$source | markdownify}}</cite></footer>{{end}}
    </blockquote>
  </div>
</div>
